@import '../../../../variables';
@import '../../../../mixins';

.billing-page {
  > .tabs {
    padding: 0 25px;

    .tab {
      text-align: center;
      color: $medium-gray;
      font-size: 16px;
      line-height: 47px;
      font-family: "proxima_novabold", Arial, sans-serif;
      font-weight: normal;
      margin-right: 32px;
      border-bottom: 3px solid transparent;
      text-decoration: none;

      &.active {
        border-color: $medium-blue;
        color: $medium-blue;
      }
    }

    .btn-purchase {
      @include app-button(140px, 32px, 12px, 3px, $medium-blue);
    }
  }
}
